In [64]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.preprocessing import LabelEncoder

In [65]:
data=pd.read_csv('titanic.csv')

In [66]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
df=data[['PassengerId','Survived','Pclass','SibSp']]

In [68]:
df.head()

   PassengerId  Survived  Pclass  SibSp
0            1         0       3      1
1            2         1       1      1
2            3         1       3      0
3            4         1       1      1
4            5         0       3      0

In [69]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
SibSp          False
dtype: bool

In [70]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
SibSp          0
dtype: int64

In [71]:
x=df[['PassengerId','Pclass','SibSp']]

In [72]:
y=df['Survived']

In [73]:
x.isnull().sum()

PassengerId    0
Pclass         0
SibSp          0
dtype: int64

In [74]:
y.isnull().sum()

0

In [75]:
le=LabelEncoder()

In [76]:
sex=le.fit_transform(data['Sex'])

In [77]:
x['sex']=sex

In [78]:
x.head()

   PassengerId  Pclass  SibSp  sex
0            1       3      1    1
1            2       1      1    0
2            3       3      0    0
3            4       1      1    0
4            5       3      0    1

In [79]:
x.isnull().any()

PassengerId    False
Pclass         False
SibSp          False
sex            False
dtype: bool

In [80]:
model=tree.DecisionTreeClassifier()

In [81]:
model.fit(x,y)

DecisionTreeClassifier()

In [82]:
model.predict([[2,3,1,0]])

array([1], dtype=int64)