In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [85]:
data=pd.read_csv('homeprices.csv')

In [86]:
data.head(3)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000

In [87]:
data.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [88]:
data['bedrooms'].fillna(data['bedrooms'].median(),inplace=True)

In [89]:
data.dtypes

area          int64
bedrooms    float64
age           int64
price         int64
dtype: object

In [90]:
data.dtypes

area          int64
bedrooms    float64
age           int64
price         int64
dtype: object

In [91]:
data['bedrooms']=data['bedrooms'].astype(int)

In [92]:
data.dtypes

area        int64
bedrooms    int32
age         int64
price       int64
dtype: object

reg=linear_model.LinearRegression()

In [93]:
reg.fit(data[['area','bedrooms','age']],data.price)

LinearRegression()

In [94]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [95]:
reg.intercept_

221323.00186540443

In [97]:
reg.predict([[300,4,20]])

array([283862.89658714])